<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptatem veritatis architecto totam, temporibus ducimus corrupti amet et facere quasi beatae sit nihil obcaecati eos nobis animi ullam mollitia magnam.
</p>