<div class="max-w-xs rounded overflow-hidden shadow-lg my-2 pb-3">
    <img class="w-full" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{heroe.nombre}}</div>
        <p class="text-grey-darker text-base">
            {{heroe.bio}}
        </p>
        <p>{{heroe.aparicion}}</p>
    </div>
    <!-- Aqui realizo el evento click para poder utilizarlo -->
    <button (click)="verHeroe(index)" type="button" class="  block uppercase mx-auto w-full shadow  border  border-indigo-600 hover:text-white hover:bg-indigo-600 focus:shadow-outline focus:outline-none  text-xs text-indigo-600 py-3 px-10 rounded">Ver más...</button>
    <!-- <a [routerLink]="['/heroe', i]" href="#" class=" block uppercase text-center mx-auto w-full shadow border  border-indigo-600 hover:text-white hover:bg-indigo-600 focus:shadow-outline focus:outline-none  text-xs text-indigo-600 py-3 px-10 rounded">Ver más link ...</a> -->
</div>