<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>

        <h1 class="text-4xl font-bold"> Héroes <span class="text-2xl font-medium"> Marvel DC</span> </h1>
        <!-- *ngFor="let heroe of heroes; let i = index" -->
        <div class="grid sm:grid-cols-4 grid-cols-2 gap-4">
            <!-- tarjeta -->

            <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
        </div>

    </main>
</body>

</html>