<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <main>


        <div class="grid sm:grid-cols-4 grid-cols-2 gap-4">
            <!-- tarjeta -->
            <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes; "></app-heroe-tarjeta>

        </div>
    </main>
</body>

</html>