<h1 class="text-2xl font-bold fadeIn fast">{{heroe.nombre | uppercase}}<small class="text-lg p-3">({{heroe.aparicion | date:'y'}})</small> </h1>
<hr>
<div class="grid grid-cols-4 animated fadeIn fast  ">
    <div class="">
        <img [src]="heroe.img" class="col-span-1 col-start-1" [alt]="heroe.nombre">
        <a [routerLink]="['/heroes']" class=" mt-3 btn block col-start-1 text-center hover:bg-red-600 hover:text-white  content-center border rounded-md h-8  font-medium  w-full border-red-600 text-red-600">Regresar</a>
    </div>
    <div class="col-span-2">
        <h3 class="text-lg font-bold ">{{heroe.nombre}}</h3>
        <p class="pt-3">{{heroe.bio}}</p>
        <div class="grid grid-cols-8">
            <img *ngIf="heroe.casa=='Marvel' " class="img-logo col-span-1 transition ease-in-out duration-1000 " src="assets/img/marvel.png" alt="Marvel">
            <img *ngIf="heroe.casa=='DC' " class="img-logo col-span-1 transition ease-in-out duration-1000" src="assets/img/dc.png" alt="DC">
        </div>
    </div>
</div>